<header>
    <div class="container">
        <div class="logo"><a routerLink="">Logo</a></div>
        <nav>
            <ul class="global-nav">
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                <li><a routerLink="about-us" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="services" routerLinkActive="active">Services</a></li>
                <!--in the example below we can call a page with array notation also -->
                <li><a [routerLink]="['contact-us']" routerLinkActive="active">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>