header{background: #eee;width: 100%;padding: 15px 0;position: fixed;top:0;left: 0;}
.logo{width: 100px;height: 40px;background: #666;text-align: center;font-size: 20px;line-height: 2em;color: #fff;float: left;}
.logo a{display: block;color: #fff;text-decoration: none;}
nav{float: right;}
ul.global-nav{overflow: hidden;margin: 10px 0}
ul.global-nav li{float: left;text-transform: uppercase;font-size: 12px}
ul.global-nav li a{margin:0 15px}
ul.global-nav li:after{content: '|';display: inline-block;margin: 0 5px;font-size: 12px;color:#337ab7}
ul.global-nav li:last-child:after{content: ''}
ul.global-nav li a.active{color:red}