    <div class="container">
    <h1>Contact Us</h1>
    <hr>
    <div class="col-md-6">
        <div class="row">
            <h3>Template driven form</h3>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div id="user-data">
                    <div class="form-group">
                        <label for="">First name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Enter first name" 
                        name="firstname" 
                        onfocus="this.placeholder=''" 
                        onblur="this.placeholder='Enter first name'"
                        ngModel
                        required
                        firstname
                        #firstname="ngModel" 
                        />
                        <span class="error-msg" *ngIf="firstname.invalid && firstname.touched">Please enter first name</span>
                    </div>
                    <div class="form-group">
                        <label for="">Last name</label>
                        <input type="text" class="form-control" name="lastname" required ngModel lastname #lastname="ngModel" placeholder="Enter last name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter last name'"/>
                        <span class="error-msg" *ngIf="!lastname.valid && email.touched">Please enter a last name</span>
                    </div>
                    <div class="form-group">
                        <label for="">Email ID</label>
                        <input type="text" class="form-control" placeholder="Enter email ID" name="email" onfocus="this.placeholder=''" onblur="this.placeholder='Enter email ID'" required email #email="ngModel" ngModel />
                        <span class="error-msg" *ngIf="!email.valid && email.touched">Please enter a valid email ID</span>
                    </div>
                    <div class="form-group">
                        <label for="">Mobile</label>
                        <input type="text" class="form-control" name="mobile" required ngModel mobile #mobile="ngModel" placeholder="Enter mobile no." onfocus="this.placeholder=''" onblur="this.placeholder='Enter mobile no.'"/>
                        <span class="error-msg" *ngIf="mobile.invalid && mobile.touched">Please enter a valid mobile number</span>
                    </div>
                    <!-- <div class="form-group">
                        <label for="">Select City</label>
                        <select class="form-control" name="" id="" ngModel>
                            <option value="">===== Select =====</option>
                            <option value="mumbai">Mumbai</option>
                            <option value="delhi">Delhi</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="">Comments</label>
                        <textarea class="form-control" ngModel placeholder="Enter comments" name="comments" onfocus="this.placeholder=''" onblur="this.placeholder='Enter comments'"></textarea>
                    </div>
                    <div class="checkbox">
                        <label for=""><input type="checkbox" name="" id=""> I agree</label>
                    </div>
                    <button type="submit" class="btn btn-default" disabled="form.invalid">Submit</button>
                    <!-- <basic-modal></basic-modal> -->
                </div>
            </form>
        </div>
    </div>
</div>