<div class="container">
    <h1>This is the Title of the Homepage.</h1>
    <a routerLink='services'>Go to services page</a>
    <hr>
    <a routerLink='basics'>Basics of Angular</a> <br>
    <a routerLink='sign-up'>Sign up</a>
</div>